@model PatientApp.Models.PatientModelView

@{
    ViewBag.Title = "fetch_patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>fetch_patient</h2>

<div>
    <h4>PatientModelView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Blood_Group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blood_Group)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
